* {
    box-sizing: border-box;
}

body,
html {
  margin: 0px;
  min-height: 100%;
}

body {
  text-align: center;
  font-family: 'Merriweather', serif;
  background-image: url(images/london-bus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #464646;
  }

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
  display: block;
  width: 200px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 35%;
  height: 180px;
  line-height: 180px;
  background: #0097e6;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #2f3640;
  text-decoration: none;
  text-shadow: 2px 1px black;
  outline: none;
}

